body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(165, 170, 170);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.secondary-color {
  background-color:burlywood ;
}

.primary-color {
  background-color: rgb(165, 170, 170);
}

.border-test {
  border: 1px black solid;
}

.profile-picture {
  height: 300px;
  width: 300px;
}

/* login CSS */
.main-login-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}

/* .login-header {
  justify-content: space-around;
}

.login-methods {
  justify-content: space-around;
  
} */

/* end of login CSS */



/* timeline CSS */
.timeline-container {
  height: 800px;
  width: 100%;

}

/* end of timeline CSS */

/* Home CSS */

.home-no-timeline {
  display: flex;
  justify-content: start;
}

.home-picture {
  margin: 10px;

}

.home-user-info {
  margin: 10px;
  width: 300px;
}

.home-edit-form {
  margin: 10px;
  width: 300px;
}

.home {
  min-height: 100vh;
}


/*  */